<h1>Friends Index</h1>
{{! The context here is the controller}}
<h2>Total friends {{model.length}}</h2>


<table>
  <thead>
    <tr>
      <th>Name</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
  {{#each model as |friend|}}
    <tr>
      <td>
         {{#link-to 'friends.show' friend.id}}
          {{friend.firstName}} {{friend.lastName}}
        {{/link-to}}
      </td>
      <td><a href="#" {{action "delete" friend}}>Delete</a></td>
    </tr>
  {{/each}}
  </tbody>
</table>

